@charset "UTF-8";

/*Todas as demais mídias*/

/*Tipycal Devices Breakpoinst
------------------------------
  Mobile devices – 320px — 480px. // (ja esta configurado no media all) // 
  iPads, Tablets – 481px — 768px.
  Small screens, laptops – 769px — 1024px.
  Desktops, large screens – 1025px — 1200px.
  Extra large screens, TV – 1201px, and more*/

@media print{ /*IMPRESSÃO*/
    *{
        font-family: 'Courier New', Courier, monospace;
    }

    body{
        background-image: url(../imagens/back-print.jpg); /* Não há necessidade*/
    }

    main h1{
        text-shadow: none;
        color: black;
    }

    main{
        border: 2px solid balck;
    }

    img#cel{display: none;}
    img#tablet{display: none;}
    img#print{display: block;}
    img#pc{display: none;}
    img#tv{display: none;}

}

@media screen and (min-width: 768px) and (max-width: 992px) {
    /*TABLET*/
   body{
    background-image: url(../imagens/back-tablet.jpg);
    
   }

   img#cel{display: none;}
   img#tablet{display: block;}
   img#print{display: none;}
   img#pc{display: none;}
   img#tv{display: none;}

   main{
    width: 400px;
}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    /*DESKTOP*/
    body{
        background-image: url(../imagens/back-pc.jpg);   
    }

    img#cel{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}

    main{
        width: 500px;
    }

    
}

@media screen and (min-width: 1200px) {
    /*TELAS GRANDES */
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    img#cel{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}

    main{
        width: 600px;
    }
}