@charset "UTF-8";

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr 6fr 1fr;
    
}

.topo{
    background-color: red;
    grid-area: 1/1/2/5;
    text-align: center;
    padding: 10px;
    
    
}

.menu{
    background-color: gray;
    grid-area: 2/1/3/5;
    text-align: center;
    padding: 10px;
}

.principal{
    background-color: beige;
    grid-area: 3/1/4/-2;
    text-align: center;
    padding: 10px;
}

.secundario{
    background-color: blueviolet;
    grid-area: 3/3/-2/5;
    text-align: center;
    padding: 10px;
}

.rodape{
    background-color: aqua;
    grid-area: 4/1/-1/-1;
    text-align: center;
    padding: 10px;
}