@charset "UTF-8";


.container{
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr 6fr 1fr;
    
}

.topo{
    background-color: red;
    grid-area: 1/1/2/5;
    
    
}

.menu{
    background-color: gray;
    grid-area: 2/1/3/5;
}

.principal{
    background-color: beige;
    grid-area: 3/1/4/-2;
}

.secundario{
    background-color: blueviolet;
    grid-area: 3/3/-2/5;
}

.rodape{
    background-color: aqua;
    grid-area: 4/1/-1/-1;
}