@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
}

header{
    padding: 20px;

}

section.flex{
    background-color: rgb(209, 209, 209);
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
}

section.normal{
    padding: 20px;
}

article.text-media{
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article.media-text{
    
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;

}

div.text{
    flex: 1 1 500px;
}

div.media{
    flex: 1 0 500px;
}

div.media > img{
    display: block;
    margin: auto;
}

div.media > iframe{
    display: block;
    margin: auto;
    width: 90%;
}



